# This is Git's per-user configuration file.
[user]
	name = Maeve Revels
	email = maeve@aha.io
	signingkey = 6D2C6135CDC12BD1
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[branch]
	autosetuprebase = always
[alias]
	co = checkout
	ci = commit
	ca = commit --amend --no-edit
	br = branch
	st = status
	recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	verbose = false
	gpgsign = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[maintenance]
	repo = /Users/maeve/projects/aha/aha-app
[tag]
	gpgSign = true
