# This is Git's per-user configuration file.
[user]
	name = maeve
	email = maeve.revels@getg5.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[branch]
	autosetuprebase = always
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	verbose = true
