[submodule ".config/base16-iterm2"]
	path = .config/base16-iterm2
	url = https://github.com/maeve/base16-iterm2.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/maeve/base16-shell.git
[submodule ".config/tokyonight.nvim"]
	path = .config/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
