{
  "auths" : {
    "https://index.docker.io/v1/" : {

    }
  },
  "credHelpers": {
    "public.ecr.aws": "ecr-login",
    "<aws_account_id>.dkr.ecr.<region>.amazonaws.com": "ecr-login"
  },
  "credsStore" : "desktop"
}
